@import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);

@keyframes bounce {
    0%,20%,50%,80%,to {
        transform: translateZ(-2px) translateY(5px)
    }

    40% {
        transform: rotateY(180deg) translateZ(-2px) translateY(-35px)
    }

    60% {
        transform: translateZ(-2px) translateY(-25px)
    }
};

*     {
    box-sizing: border-box;
  }
  html,
  body   {
   background-color: #1a1a1a;
 background: radial-gradient(circle at center,#1a1546,#040411 40%);
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 width: 100%;
  perspective: 1000px;
  }
h3 {
    font-size: 3.5rem;
    line-height: 80%;
   transform: rotateX(0) rotateY(-25deg);
    text-transform: uppercase;
    width: 500px;
 text-align: center;
    color: #b9dfff;
    color: #fff;
    font-family: "Zefani";
 font-family: 'Abril Fatface';
    margin: 3rem auto;
    position: relative;
    padding: 2rem 0 9rem;
    text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #228dff,0 0 35px #228dff,0 0 40px #228dff;
 
 span {
    display: inline-block;
}

}

.scroll-more {
  color: white;
 text-align: center;
    width: 450px;
    position: absolute;
    bottom: 8rem;
    left: calc(50% - 225px);
    margin: 0 auto;
    font-size: 25rem;
    opacity: 1;
    transition: opacity .3s ease;
    font-family: monospace;
    pointer-events: none;
    z-index: -1;
    transform-origin: center;
    -webkit-animation: bounce 3s cubic-bezier(.37,0,.21,1.02) infinite,fonts 5s linear infinite;
    animation: bounce 3s cubic-bezier(.37,0,.21,1.02) infinite,fonts 5s linear infinite;
}
  
  /* styling our overall page */
  body     {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* styling our header */
  header   {
    background: #222;
    color: #FFF;
    padding: 20px 30px;
  }
  
  /* logo */
  #logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
  }
  #logo img    {
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  #logo span   {
    display: inline-block;
  }
  
  /* main navigation */
  nav     {
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  nav ul   {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a    {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  
  /* styling our footer */
  footer   {
    background: #222;
    color: #777;
    padding: 40px;
    text-align: center;
  }
  footer img   {
    display: block;
    border-radius: 5px;
    width: 80px;
    margin: 0 auto 10px;
  }
  
  /* styling our main content */
  .hero           {
    min-height: 800px;
    text-align: center;
    background-image: url('../img/bluewaterbg.jpg');
    background-size: cover;
  }
  .hero-content   {
    color: #000000;
    padding-top: 130px;
  }
  .hero-content h1   {
    font-size: 100px;
    margin: 0;
  }
  .hero-content p    {
    font-size: 50px;
  }
  .hero-content a    {
    display: inline-block;
    color: #000000;
    border: 3px solid #FFF;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 28px;
  }
  
  /* basic site sections */
  .site-section   {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .site-section-secondary   {
    background: #EFEFEF;
  }
  .site-section-inside   {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-header {
    text-align: center;
    margin-bottom: 30px;
  }
  .section-header h2  {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    color: #777;
  }
  
  /* feature boxes */
.feature-box   {
    display: inline-flexbox;
    width: 33%;
    padding: 20px 100px;
  }
  .feature-box img  {
    margin-bottom: 12px;
    width: 100px;
  }
  .feature-box h5   {
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
  }
  
  
  /* testimonial boxes */
 .testimonial-box   {
    display: inline-block;
    width: 33%;
    padding: 20px 30px;
  }
  .testimonial-content   {
    background: #FFF;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    align-items: center;
  }  
  
  .testimonial-author h5   {
    font-size: 18px;
    margin: 0;
    padding-top:15px;
  }
  .testimonial-author span {
    font-size: 14px;
  }
.moreParent{
  display: flex;
  justify-content: center
}
