header   {
    background: #000;
    color: #FFF;
    padding: 20px 30px;
    position: sticky;
    top: 0;
  }

 
  header   {
    background: #000;
    color: #FFF;
    padding: 20px 30px;
    position: sticky;
    top: 0;
  }
#logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
  }
  #logo img    {
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  #logo span   {
    display: inline-block;
  }
